@font-face {
    font-family:'Milliard-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/Milliard/Milliard-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'Milliard-Book';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Milliard/Milliard-Book.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'Milliard-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Milliard/Milliard-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'CooperHewitt-Medium';
    src: url('../assets/fonts/CooperHewitt-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'Milliard-SemiBold';
    src: url('../assets/fonts/Milliard/Milliard-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'HelveticaNeue-Bold';
    src: url('../assets/fonts/Milliard/HelveticaNeue Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'ARIALMT';
    src: url('../assets/fonts/ARIALMT.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family:'helveticaneue';
    src: url('../assets/fonts/Milliard/helveticaneue.ttf') format('truetype'), /* Safari, Android, iOS */
  }